.nav {
    width: 100vw;
}
.header {
    height: 69px;
    display:flex;
    background-color: var(--black-color);
    /* background-image: url(../Images/Logo.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 8%; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 20px 0 20px 0; */
    
    
}

.header__logo {
    position: absolute;
    top: 8px;
    left: 16px;
}
.header__item a{
    color: var(--white-color);
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
}
.header__item:hover {
    transform: scale(1.1);
}
.header__item a:hover {
        background-color: rgb(65, 63, 63);
        color: var(--white-color);
}
      
.header__item a.active {
        background-color: #04AA6D;
        color: var(--white-color);
    /* background-color: rgb(150, 231, 20);
    margin: 10px;
    width: 200px;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    text-align: center; */
}