
.portfolio {
    /* background-image: url(../Images/Main.png); */
    background-image: linear-gradient(rgb(65, 63, 63), black);
    height: 90vh;
    background-size: contain;
    /* background-color: var(--black-color); */
    /* box-shadow: 20px 20px 20px 20px rgb(0, 0, 0) inset; */
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-position: 10%;
    background-size: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    margin: 40px;
    height: 450px;
    width: 500px;
    border:1px solid #000;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding:18px;
    box-shadow: 1px 1px 40px #a6a6a6;
    transition-duration: 0.5s;
}
.card:hover {
    transform: scale(1.1);
}
.card_header {
    margin: 10px;
    font-weight: bold;
}

.portfolio_header {
    margin: 40px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.button {
    size: 20px;
    background-color: rgb(212, 114, 2);
    font-weight: bold;
    height: 40px;
    width: 100px;
    margin: 30px;
    border-radius: 3px;
    border: none;
    color: #eee;
    cursor: pointer;
    transition-duration: 0.5s;
}
/* Яркость при навидении */
.button:hover {
    filter: brightness(120%);
    transform: scale(1.1);
}
/* Яркость при нажатии */
.button:active {
    filter: brightness(90%);
}

/* html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 } */