/* .gridContainer {
    display: grid;
    grid-gap: 10px;
    width: 1090px;
    height: 590px;
    background-color: black;
    padding: 10px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows:  50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
.gridContainer > div {
    color: white;
    text-align: left;
  }
.item1 {
    
}
.item2 {
    
} */